.App {
  height: 100vh;
}

.btn-primary {
  border-color: #ee008e;
  color: #FFF;
  background-color: #ee008e;
}

.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem #f97fc8;
}

.btn-primary:not(:disabled):not(.disabled):active {
  border-color: #c70077;
  color: #FFF;
  background-color: #c70077;
}

.btn-primary:hover,
.btn-primary:not(:disabled):not(.disabled):hover {
  color: #fff;
  background-color: #121111;
  border-color: #121111;
}

.card {
  border: 1px solid #121111;
}

.card-header {
  background-color: #121111;
  color: #fff;
  font-size: 1.5rem;
}

.card-body {
  height: 300px;
  overflow: auto;
}